*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
    
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem; /*16px*/
    margin-right: 0.5rem;

}
.nav{
    background-color: #121212;
    border-radius: 1rem; /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding: 0.5rem 0.75rem;

}
.nav-option{
    line-height: 1rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option i{
    font-size: 1.25rem; /*16px*/
}
.ancher{
    text-decoration: none;
    color: white;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-option:hover{
    opacity: 1;    
}
.logo-img{
    height: 1.50rem;
    width: 1.50rem;
    
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}
.options{
    display: flex;
    justify-content: space-between;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1rem;
    display: flex;
    margin-top: 1rem;
}
.icons i{
    margin-right: 1rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #323232;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.25rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9rem;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    /* margin-top: 0.5rem; */
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: #fff;
    color: #000;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem; /*16px*/
    overflow: auto;
}
.header{
    
    display: flex;
    height: 64px;
    width: 100%;
    margin: 4ppx;
    padding: 1rem 0 1rem 0;
    z-index: var(--top-bar-z-index);
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    position: sticky;
    align-items: center;
}
.nav-iconArrow i{
    margin-left: 0.75rem;
}
.arrow-btn{
    opacity: 6;
    cursor: not-allowed;
    border: none;
    background-color: #000;
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 0;
    margin: 0 -3px 0 15px;
}

.btn{
    margin: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: var(--encore-button-corner-radius,9999px);
}
.artists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 8px 16px 0 16px;
}
.artists a{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.artists a:hover{
    text-decoration:  underline #fff;
}
.artists-option1 a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.cards-container{
    display: flex;
   flex-wrap: wrap;
    
}
.card{
    background-color: transparent;
    width: 200px;
    height: 260px;
    padding: 12px;
    margin-left: 1.5rem;
    margin-top: 1rem;

}
.card:hover{
    background-color: #181818;
    cursor: pointer;
}
.card-img{
    width: 100%;
    border-radius: 50%;

}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.7;
}

.card-1{
    background-color: transparent;
    width: 200px;
    height: 260px;
    padding: 12px;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-1:hover{
    background-color: #181818;
    cursor: pointer;
}
.card-1 img{
    width: 100%;
    border-radius: 0.5rem;

}
.card-1-title{
    font-weight: 700;
}
.card-1-info{
    font-size: 0.85rem;
    opacity: 0.7;
}
.list-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.list-item a{
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 1rem;
    

}
ul{
    list-style: none;
}
li>a:hover{
    text-decoration: underline #fff;
    color: #fff;


}
hr.line{
    border: 0.25px solid #b3b3b3;
    margin-top: 30px;
    width: 95%;
}
.footer{
    padding: 1rem;

}
.footer>p{
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
}





